<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if(!params[:title].nil?) %>
        <%= "Leave a comment on '#{params[:title]}'" %>
        <% form.label :post_id %>
        <%= form.hidden_field :post_id, id: :comment_post_id, value: params[:id] %>
    <% else %>
        <%= form.label :post_id %>
        <%= form.number_field :post_id, id: :comment_post_id, value: params[:id], class: 'form-control' %>
    <%end %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :comment_content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit value: 'Add Comment', class: 'btn btn-success' %>
  </div>
<% end %>
