<div>
<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>Post</th>
      <th>Comment(s)</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.post.title, "posts/#{comment.post.id}" %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'View', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, class: 'text-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path, class: 'btn btn-success' %>
</div>
