<div>
<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'View', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', "/posts/#{post.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_post_path, class: 'btn btn-primary' %>
</div>
