<!--<p id="notice"><#%= notice %></p>-->

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Comment(s):</strong>
 
  <% all_comments = @post.comments.all %>
  <ul>
    <% all_comments.each do |comment| %>
      <li>
        <%= comment.content %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> | <%= link_to 'Add a comment', 
    {:controller =>'comments', :action => 'new', :id => @post.id, :title => @post.title} %>
